.contain {
  display: flex;
  justify-content: center;
  padding-top: 4em;
  padding-bottom: 10em;
}

.container {
  color: rgb(255, 255, 255);

  padding-top: 2em;
  padding-bottom: 3em;
}

.Submmit {
  background: #222222;
  color: rgb(255, 255, 255);
  border: 2px solid #ffffff;

  display: inline-block;
  position: relative;
  font-size: 20px;
  box-sizing: border-box;
  transition: 0.5s;

  padding: 10px 30px;
  border-radius: 25px;
  cursor: pointer;
}
.Submmit:hover {
  background: #ffffff;
  color: #222222;
}

.img {
  border-radius: 20px;
  border: 7px solid #ffffff;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader:after {
  background-color: rgb(249, 249, 32);
  content: "";
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 8px;
  border-radius: 50%;
  background: #fff;
  animation: coin-flip 8s cubic-bezier(0, 0.1, 0.1, 0.6) infinite;
}

@keyframes coin-flip {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
